$color-default: #19191d !default;
$color-primary: #0849d9 !default;
$color-success: #198754 !default;
$color-error: #e74c3c !default;

$color-primary-hover: #0038b4 !default;
$color-success-hover: #146c43 !default;
$color-error-hover: #cd4436 !default;

$break-min: (320px);
$break-tablet: (768px);
$break-desktop: (1280px);
$max-desktop: (1770px);
$min-desktop: (1366px);

